<%- include("partials/header") -%>

<h1>Home</h1>
<p>
    <%= homePara %>
</p>


<% posts.forEach(post => { %>
<h1> <%= post.title %> </h1>
<p> <%= post.body %> </p>
<% console.log(post.title); %>
<%  }) %>

<%- include("partials/footer") -%>